
{% load static %}
<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>torru</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="{% static "main.css" %}" rel="stylesheet">
</head>
<body>
    
    <div class="container">
        
        <div class="header">
          <div class="header-left">TORRU</div>
          <span class="header-right"><a class='custom-link' href="#graph-mot">Портфолио</a><br><a class='custom-link' href="#about">Обо мне</a></span>
        </div>
        
        <div class="group-67" >
          <div class="torru-1">
            <a class='custom-link' href="{% url 'torru:homes' %}" style='opacity:1;'>TORRU</a>
          </div>
          <div class="group-66" id="menu-toggle">
            <img src="/static/images/menu.svg" id="menu-icon">
          </div>
        </div>
    
        <!-- Меню, которое будет открываться -->
        <div class="menu" id="mobile-menu">
          <div class='menu-close-main'>
          <div class="torru-2">
            <a class='custom-link' href="{% url 'torru:homes' %}">TORRU</a>
          </div>
          <div class="group-66" id="close-menu">
            <img src="/static/images/menu-open.svg" id="close-icon">
          </div>
        </div>
          <div class='main-menu'>
          
          <a class='custom-link' href="{% url 'torru:graphic_design_list' %}">Графический дизайн<img src="/static/images/group_131_x2.svg"></a>
          <a class='custom-link' href="{% url 'torru:motion_design_list' %}">Моушн дизайн<img src="/static/images/group_131_x2.svg"></a>
          <a class='custom-link' href="https://www.instagram.com/torru_design"><div class="social-item">INST<img src="/static/images/group_141_x2.svg"></div></a>
          <a class='custom-link'  href="https://t.me/Toqqu"><div class="social-item">TG<img src="/static/images/group_151_x2.svg"></div></a>
          <a class='custom-link'  href="https://vk.com/toqqu"><div class="social-item">VK<img src="/static/images/group_131_x2.svg"></div></a>
          </div>
        </div>
        
        
        
        <div class="main-content">
          <div class="main-left">
            <p class="main-title">TORRU</p>
            <div class="main-subtitle">DESIGN</div>
          </div>
          <div class="main-right">
            <div id='graph-mot' class="graphic-motion">
              <a class='custom-link' href="{% url 'torru:graphic_design_list' %}"><span class="graphic-text">ГРАФИЧЕСКИЙ<img src="static/images/group_119_x2.svg"></span></a>
              
              <a class='custom-link' href="{% url 'torru:motion_design_list' %}"><span class="motion-text">МОУШН<img src="static/images/group_123_x2.svg"></span></a>
              
            </div>
            <span class="visual-text">Создаем продающий визуал<br> уже более 4-х лет</span>
          </div>
        </div>
        
        <div class="partners-list">
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_bbt' %}"><div class="partner-name">Big baby tape<img src="static/images/group_1111_x2.svg"></div></a>
            
          </div>
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='onyx' %}"><div class="partner-name">ONYX<img src="static/images/group_1113_x2.svg"></div></a>
            
          </div>
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='treepside' %}"><div class="partner-name">treepside<img src="static/images/group_1113_x2.svg"></div></a>
            
          </div>
        </div>
        <div class="partners-list">
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='10age' %}"><div class="partner-name">10AGE<img src="static/images/group_1113_x2.svg"></div></a>
            
          </div>
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='bushido-zho' %}"><div class="partner-name">BUSHIDO ZHO<img  src="static/images/group_352_x2.svg"></div></a>
            
          </div>
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='chief-keef' %}"><div class="partner-name">CHIEF KEEF<img  src="static/images/group_352_x2.svg"></div></a>
            
          </div>
        </div>
        <div class="partners-list">
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='alblak-52' %}"> <div class="partner-name">ALBLAK 52<img src="static/images/group_372_x2.svg"></div></a>
            
          </div>
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='4n-way' %}"><div class="partner-name">4N WAY<img  src="static/images/group_352_x2.svg"></div></a>
            
          </div>
          <div class="partner">
            <a class='custom-link-prime' href="{% url 'torru:media_detail' slug='lovv66' %}"><div class="partner-name">LOVV66<img src="static/images/group_381_x2.svg"></div></a>
            
          </div>
        </div>
        <div class="about-contacts">
          <span class="about-text">Обо мне</span>
          <span class="contacts-text">Контакты</span>
        </div>
        <div class="about-lin">
        <div  id="about" class="about-description">
          Проект TORRU DESIGN существует с 2021 года и помогает осуществить идеи клиентов любой сложности.<br/> 
Мы занимаемся как 2D дизайном, так и 3D дизайном, анимацией. Нам доверилось множество крупных клиентов, среди них известные музыканты и компании. Мы даем гарантию, что мы сможем осуществить ваши идеи в лучшем виде и кротчайшие сроки.
        </div>
        
        <div class="social-links">
          <a class='custom-link'  href="https://vk.com/toqqu"><div class="social-item">VK<img src="static/images/group_131_x2.svg"></div></a>
        
          <a class='custom-link' href="https://www.instagram.com/torru_design"><div class="social-item">INST<img src="static/images/group_141_x2.svg"></div></a>
          
          <a class='custom-link'  href="https://t.me/Toqqu"><div class="social-item">TG<img src="static/images/group_151_x2.svg"></div></a>
          
        </div>
        
      </div>
      <div class="mobile-about-contacts">
        <div class="mobile-about">Обо мне</div>
        <div id="about" class="about-description">
          Проект TORRU DESIGN существует с 2021 года и помогает осуществить идеи клиентов любой сложности.<br/> 
          Мы занимаемся как 2D дизайном, так и 3D дизайном, анимацией. Нам доверилось множество крупных клиентов, среди них известные музыканты и компании. Мы даем гарантию, что мы сможем осуществить ваши идеи в лучшем виде и кротчайшие сроки.
        </div>
        <div class="mobile-contacts">Контакты</div>
        <div class="social-links">
            <a class='custom-link' href="https://vk.com/toqqu">
                <div class="social-item">VK<img src="static/images/group_151_x2.svg"></div>
            </a>
            <a class='custom-link' href="https://www.instagram.com/torru_design">
                <div class="social-item">INST<img src="static/images/group_151_x2.svg"></div>
            </a>
            <a class='custom-link' href="https://t.me/Toqqu">
                <div class="social-item">TG<img src="static/images/group_151_x2.svg"></div>
            </a>
        </div>
      </div>
        <div class="footer" >
          <div class="footer-left">
            <div class="footer-item" id='torru-mobile'>TORRU</div>
            <a class='custom-link' style='opacity:1;' href="#graph-mot"><div class="footer-item" >Портфолио</div></a>
            <a class='custom-link' style='opacity:1;' href="https://vk.com/toqqu"><div class="footer-item" >VK</div></a>
            <a class='custom-link' style='opacity:1;' href="https://www.instagram.com/torru_design"><div class="footer-item" >INST</div></a>
            <a class='custom-link' style='opacity:1;' href="https://t.me/Toqqu"><div class="footer-item" >TG</div></a>
            <a class='custom-link' style='opacity:1;' href="mailto:toqqu.wilmar@gmail.com"><div class="footer-item">toqqu.wilmar@gmail.com</div></a>
          </div>
          <div class="footer-right">
            <div class="footer-credit">Design by QWESTH</div>
            
          </div>
        </div>
      
      </div>

    <!-- Главный блок с информацией -->
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
  // Получаем элементы

const menuToggle = document.getElementById('menu-toggle');
const mobileMenu = document.getElementById('mobile-menu');
const closeMenu = document.getElementById('close-menu');

// Добавляем обработчик клика на кнопку открытия меню
menuToggle.addEventListener('click', function() {
  // Переключаем класс menu-open для показа или скрытия меню
  mobileMenu.classList.toggle('menu-open');
});

// Добавляем обработчик клика на кнопку закрытия меню
closeMenu.addEventListener('click', function() {
  // Убираем класс menu-open, чтобы меню закрылось
  mobileMenu.classList.remove('menu-open');
});



    </script>
</body>
</html>
